// Custom styles.
// 自定义页脚跳动的心样式
@keyframes heartAnimate {
  0%,100%{transform:scale(1);}
  10%,30%{transform:scale(0.9);}
  20%,40%,60%,80%{transform:scale(1.1);}
  50%,70%{transform:scale(1.1);}
}
#heart {
  animation: heartAnimate 1.33s ease-in-out infinite;
}
.with-love {
  color: rgb(255, 113, 168);
}

// 自定义的文章置顶样式
.post-sticky-flag {
  font-size: inherit;
  float: left;
  color: rgb(0, 0, 0);
  cursor: help;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.post-sticky-flag:hover {
  color: #07b39b;
}

// 侧栏
.sidebar {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.75);
}
.sidebar-inner {
  margin-top: 30px;
}
// 侧栏顶部文字
.sidebar-nav li {
  font-size: 15px;
  font-weight: bold;
  color: rgb(7, 179, 155);
}
.sidebar-nav li:hover {
  color: rgb(161, 102, 171);
}
.sidebar-nav .sidebar-nav-active {
  color: rgb(7, 179, 155);
  border-bottom-color: rgb(161, 102, 171);
  border-bottom-width: 1.5px;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: rgb(7, 179, 155);
}
// 侧栏站点概况行高
.site-overview {
  line-height: 1.3;
}
// 侧栏头像（圆形以及旋转效果）
.site-author-image {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  transition: transform 1.0s ease-out;
}
img:hover {
  transform: rotateZ(360deg);
}
.posts-expand .post-body img:hover {
  transform: initial;
}
// 侧栏站点作者名
.site-author-name {
  display: none;
}
// 侧栏站点描述
.site-description {
  letter-spacing: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 13px;
  color: rgb(243, 112, 85);
}
// 侧栏站点文章、分类、标签
.site-state {
  line-height: 1.3;
  margin-left: 12px;
}
.site-state-item {
  padding: 0px 15px;
  border-left: 1.5px solid rgb(161, 102, 171);
}
// 侧栏RSS按钮样式
.feed-link {
  margin-top: 15px;
  margin-left: 7px;
}
.feed-link a {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(158, 158, 158) !important;
  border-radius: 15px;
}
.feed-link a:hover {
  background-color: rgb(161, 102, 171);
}
.feed-link a i {
  color: rgb(255, 255, 255);
}
// 侧栏社交链接
.links-of-author {
  margin-top: 5px;
}
// 侧栏友链标题
.links-of-blogroll-title {
  margin-bottom: 10px;
  margin-top: 15px;
  color: rgba(7, 179, 155, 0.75);
  margin-left: 6px;
  font-size: 15px;
  font-weight: bold;
}
// 侧栏超链接样式（友链的样式）
.sidebar a {
  color: #ccc;
  border-bottom: none;
}
.sidebar a:hover {
  color: rgb(255, 255, 255);
}
// 自定义的侧栏时间样式
#days {
  display: block;
  color: rgb(7, 179, 155);
  font-size: 13px;
  margin-top: 15px;
}
// 侧栏目录链接样式
.post-toc ol a {
  color: rgb(7, 179, 155);
  border-bottom: 1px solid rgb(96, 125, 139);
}
.post-toc ol a:hover {
  color: rgb(161, 102, 171);
  border-bottom-color: rgb(161, 102, 171);
}
// 侧栏目录链接样式之当前目录
.post-toc .nav .active > a {
  color: rgb(161, 102, 171);
  border-bottom-color: rgb(161, 102, 171);
}
.post-toc .nav .active > a:hover {
  color: rgb(161, 102, 171);
  border-bottom-color: rgb(161, 102, 171);
}
/* 修侧栏目录bug，如果主题配置文件_config.yml的toc是wrap: true */
.post-toc ol {
  padding: 0px 10px 5px 10px;
}
